{                                                                                          
  # List of connection strings for outbound peer connections in URI format,
  # e.g. tls://a.b.c.d:e or socks://a.b.c.d:e/f.g.h.i:j. These connections
  # will obey the operating system routing table, therefore you should
  # use this section when you may connect via different interfaces.
  Peers: [
{% for peer in yggdrasil_extra_peers %}
{% if peer.listen_uri is defined %}
    "{{ peer.listen_uri }}",
{% endif %}
{% endfor %}
{% for peer in yggdrasil_ansible_peers %}
{% if hostvars[peer] is defined %}
{% if hostvars[peer].yggdrasil_listen_address is defined %}
    "{{ hostvars[peer].yggdrasil_listen_address }}",
{% endif %}
{% endif %}
{% endfor %}
  ]

  # List of connection strings for outbound peer connections in URI format,
  # arranged by source interface, e.g. { "eth0": [ tls://a.b.c.d:e ] }.
  # Note that SOCKS peerings will NOT be affected by this option and should
  # go in the "Peers" section instead.
  InterfacePeers: {
{% for interface in yggdrasil_interface_peer_interfaces %}
    {{ interface.identifier }}: [
{% for peer in interface.peers %}
      "{{ peer }}",
{% endfor %}
    ],
{% endfor %}
  }

  # Listen addresses for incoming connections. You will need to add
  # listeners in order to accept incoming peerings from non-local nodes.
  # Multicast peer discovery will work regardless of any listeners set
  # here. Each listener should be specified in URI format as above, e.g.
  # tls://0.0.0.0:0 or tls://[::]:0 to listen on all interfaces.
  Listen: [
{% for address in yggdrasil_config_listen_addresses %}
    "{{ address }}",
{% endfor %}
  ]

  # Listen address for admin connections. Default is to listen for local
  # connections either on TCP/9001 or a UNIX socket depending on your
  # platform. Use this value for yggdrasilctl -endpoint=X. To disable
  # the admin socket, use the value "none" instead.
  AdminListen: "{{ yggdrasil_admin_listen_address }}"

  # Configuration for which interfaces multicast peer discovery should be
  # enabled on. Each entry in the list should be a json object which may
  # contain Regex, Beacon, Listen, and Port. Regex is a regular expression
  # which is matched against an interface name, and interfaces use the
  # first configuration that they match gainst. Beacon configures whether
  # or not the node should send link-local multicast beacons to advertise
  # their presence, while listening for incoming connections on Port.
  # Listen controls whether or not the node listens for multicast beacons
  # and opens outgoing connections.
  MulticastInterfaces:
  [
{% for interface in yggdrasil_multicast_interfaces %}
    {{ interface | tojson }},
{% endfor %}
  ]

  # List of peer public keys to allow incoming peering connections
  # from. If left empty/undefined then all connections will be allowed
  # by default. This does not affect outgoing peerings, nor does it
  # affect link-local peers discovered via multicast.
  AllowedPublicKeys: [
{% if yggdrasil_limit_incoming_connections %}
{% for peer in yggdrasil_extra_peers %}
{% if peer.public_key is defined %}
    "{{ peer.public_key }}",
{% endif %}
{% endfor %}
{% for peer in yggdrasil_ansible_peers %}
{% if hostvars[peer] is defined %}
{% if hostvars[peer].yggdrasil_encryption_public_key is defined %}
    "{{ hostvars[peer].yggdrasil_encryption_public_key }}",
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
  ]

  # Your public key. Your peers may ask you for this to put
  # into their AllowedPublicKeys configuration.
  PublicKey: {{ yggdrasil_encryption_public_key }}

  # Your private key. DO NOT share this with anyone!
  PrivateKey: {{ yggdrasil_encryption_private_key }}

  # Local network interface name for TUN adapter, or "auto" to select
  # an interface automatically, or "none" to run without TUN.
  IfName: {{ yggdrasil_interface_name }}

  # Maximum Transmission Unit (MTU) size for your local TUN interface.
  # Default is the largest supported size for your platform. The lowest
  # possible value is 1280.
  IfMTU: {{ yggdrasil_interface_mtu }}

  # By default, nodeinfo contains some defaults including the platform,
  # architecture and Yggdrasil version. These can help when surveying
  # the network and diagnosing network routing problems. Enabling
  # nodeinfo privacy prevents this, so that only items specified in
  # "NodeInfo" are sent back if specified.
  NodeInfoPrivacy: {{ yggdrasil_node_info_privacy | tojson }}

  # Optional node info. This must be a { "key": "value", ... } map
  # or set as null. This is entirely optional but, if set, is visible
  # to the whole network on request.
  NodeInfo: {{ yggdrasil_node_info | tojson }}
}
